// Fonts
@import url('https://fonts.googleapis.com/css2?family=Farro:wght@400;500&family=Open+Sans:wght@300;400;600;700&family=Source+Code+Pro&display=swap');

$farro: 'Farro', sans-serif;
$openSans: 'Open Sans', sans-serif;
$mono: 'Source Code Pro', monospace;

// Colours/Themes
$black: #111;
$blue: #14213D;
$grey: #E5E5E5;
$white: #FFF;
$yellow: #FCA311;

@mixin background-gradient {
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}